<link href="~/css/non-admin-style/mesage-successful.css" rel="stylesheet">


<div class="notification-container">
    <div class="notification-card">
        <div class="icon-success">✓</div>
        <h1>Gửi tin nhắn thành công!</h1>
        <p>Cảm ơn bạn đã liên hệ với chúng tôi. Chúng tôi đã nhận được tin nhắn của bạn và sẽ phản hồi trong thời gian
            sớm nhất.</p>
        <button class="btn-return" onclick="window.location.href='/'">Quay lại trang chủ</button>
    </div>
</div>
